# Values for loki-stack

grafana:
  enabled: false
  sidecar:
    datasources:
      enabled: false

loki:
  enabled: true
  persistence:
    enabled: true
    size: 2Gi
  resources:
    limits:
      cpu: "500m"
      memory: "512Mi"
    requests:
      cpu: "200m"
      memory: "256Mi"
  livenessProbe:
    initialDelaySeconds: 120
    failureThreshold: 15
  readinessProbe:
    initialDelaySeconds: 60
    failureThreshold: 15

promtail:
  enabled: true
  config:
    logLevel: info
    serverPort: 3101
    clients:
      - url: http://{{ .Release.Name }}:3100/loki/api/v1/push
