spring:
  application:
    name: audit-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/medinsight}
    username: ${SPRING_DATASOURCE_USERNAME:meduser}
    password: ${SPRING_DATASOURCE_PASSWORD:MedSecurePass2024!}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8080/realms/medinsight}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8080/realms/medinsight/protocol/openid-connect/certs}

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-service:8761/eureka/}
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

logging:
  level:
    com.medinsight.audit: DEBUG

loki:
  url: ${LOKI_URL:http://localhost:3100/loki/api/v1/push}

springdoc:
  api-docs:
    path: /audit/v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
