spring:
  application:
    name: audit-service
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/medinsight}
          jwk-set-uri: ${KEYCLOAK_JWKS_URI:http://localhost:8180/realms/medinsight/protocol/openid-connect/certs}

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

logging:
  level:
    com.medinsight.audit: DEBUG
    org.springframework.data.elasticsearch: INFO

loki:
  url: ${LOKI_URL:http://localhost:3100/loki/api/v1/push}
