# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs and editors
/.idea/
*.iml
*.ipr
*.iws
/.project
/.classpath
/.settings/
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Java
*.class

# Spring Boot
*.pid

# Docker
*.tar
