
name: CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push-backend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [auth-service, discovery-service, gateway-service, appointment-service, medical-record-service, audit-service, mail-service]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push ${{ matrix.service }}
        uses: docker/build-push-action@v5
        with:
          context: ./Backend
          file: ./Backend/${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/medinsight-${{ matrix.service }}:v1.0.0
            ${{ secrets.DOCKERHUB_USERNAME }}/medinsight-${{ matrix.service }}:latest

  build-and-push-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/medinsight-frontend:v1.0.0
            ${{ secrets.DOCKERHUB_USERNAME }}/medinsight-frontend:latest

  build-and-push-ml:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push ml-service
        uses: docker/build-push-action@v5
        with:
          context: ./ML/ml-service
          file: ./ML/ml-service/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/medinsight-ml-service:v1.0.0
            ${{ secrets.DOCKERHUB_USERNAME }}/medinsight-ml-service:latest
